In [1]:
import os
import json
import pandas as pd

with open("./config/age_parameters.json") as param:
    data = json.load(param)
    model_param = data["model_param"]
    data_info = data["load_data"]

param.close()

lr = model_param["lr"]
epochs = model_param["epochs"]
train_batch_size = model_param["train_batch_size"]
valid_batch_size = model_param["valid_batch_size"]
save_path = model_param["save_path"]
log_path = model_param["log_path"]
IM_WIDTH = IM_HEIGHT = data_info["resize"]

In [6]:
data_path = "/teams/DSC180A_FA20_A00/a01capstonegroup03/"

In [72]:
train_csv = pd.read_csv(os.path.join(data_path, 'fairface_label_train.csv'))
train_image_path = "/teams/DSC180A_FA20_A00/a01capstonegroup03/fairface_pad025/train"
val_csv = pd.read_csv(os.path.join(data_path, 'fairface_label_val.csv'))
val_image_path = "/teams/DSC180A_FA20_A00/a01capstonegroup03/fairface_pad025/val"
df = pd.concat([train_csv, val_csv])

In [60]:
train_csv["file"] = train_csv["file"].apply(lambda x: os.path.join(train_image_path, x.split("/")[1]))

In [62]:
train_csv["file"][0]

'/teams/DSC180A_FA20_A00/a01capstonegroup03/fairface_pad025/train/1.jpg'

In [73]:
train_path_rename = os.listdir(train_image_path)
train_path_rename = sorted(train_path_rename, key = lambda x: int(x.split(".")[0]))
train_path_rename = list(map(lambda x: os.path.join(train_image_path, x), train_path_rename))

valid_path_rename = os.listdir(val_image_path)
valid_path_rename = sorted(valid_path_rename, key = lambda x: int(x.split(".")[0]))
valid_path_rename = list(map(lambda x: os.path.join(val_image_path, x), valid_path_rename))
#train_csv_df["file"] = img_name

In [74]:
train_csv["file"] = train_path_rename
val_csv["file"] = valid_path_rename

In [75]:
combined = pd.concat([train_csv, val_csv]).reset_index(drop = True)

In [76]:
combined

,file,age,gender,race,service_test
0,/teams/DSC180A_FA20_A00/a01capstonegroup03/fai...,50-59,Male,East Asian,True
1,/teams/DSC180A_FA20_A00/a01capstonegroup03/fai...,30-39,Female,Indian,False
2,/teams/DSC180A_FA20_A00/a01capstonegroup03/fai...,3-9,Female,Black,False
3,/teams/DSC180A_FA20_A00/a01capstonegroup03/fai...,20-29,Female,Indian,True
4,/teams/DSC180A_FA20_A00/a01capstonegroup03/fai...,20-29,Female,Indian,True
...,...,...,...,...,...
97693,/teams/DSC180A_FA20_A00/a01capstonegroup03/fai...,30-39,Male,White,True
97694,/teams/DSC180A_FA20_A00/a01capstonegroup03/fai...,50-59,Male,White,False
97695,/teams/DSC180A_FA20_A00/a01capstonegroup03/fai...,60-69,Male,Latino_Hispanic,False
97696,/teams/DSC180A_FA20_A00/a01capstonegroup03/fai...,20-29,Female,East Asian,False
97697,/teams/DSC180A_FA20_A00/a01capstonegroup03/fai...,40-49,Male,Latino_Hispanic,True

In [77]:
combined[len(combined)- 1000:].to_csv("/teams/DSC180A_FA20_A00/a01capstonegroup03/redistributed_csv/fairface_label_val.csv",
                                   index = False)
combined[:len(combined)- 1000].to_csv("/teams/DSC180A_FA20_A00/a01capstonegroup03/redistributed_csv/fairface_label_train.csv",
                                   index = False)

In [39]:
combined = pd.concat([train_csv, val_csv]).reset_index(drop = True)

'/teams/DSC180A_FA20_A00/a01capstonegroup03/fairface_pad025/val/10950.jpg'